<ion-header>
  <ion-toolbar>
    <ion-title>
      <div fxLayout="row">
        <div fxFlex="20%">
          <img src="assets/images/logo2.png" width="80">
        </div>

        <div fxFlex="80%">
          <div fxLayout="row">
            <div fxFlex="80%" style="margin-top: 30px; text-align: center;">
              About
            </div>
            <div fxFlex="20%" style="margin-top: 20px;">
              <ion-button color="warning" (click)="goToMain()"><ion-icon name="home"></ion-icon> </ion-button>
            </div>
          </div>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button style="width: 100%" (click)="onInstruction()">Instructions</ion-button>
  <img src="assets/images/logo2.png" class="img">
<!--  <mat-card style="text-align: center; horiz-align: center; color: #1e2023">-->
<!--    <b>ChordsMe</b> is a mobile application to learn the chords and view Sinhalese music chords with the certain categories like-->
<!--     artists, albums with the features like search, transpose ect.-->
<!--  </mat-card>-->
  <ion-img src="assets/images/h5mobile.jpg"></ion-img>
  <ion-item>
    <span style="text-align: center">Copyright &copy; 2020 H5 Mobile Solutions. Developed by Hasitha Amarathunga</span>
  </ion-item>
</ion-content>
