<ion-header>
    <ion-toolbar>
        <ion-title>
            <div fxLayout="row">
                <div fxFlex="20%">
                    <img src="assets/images/logo2.png" width="80">
                </div>

                <div fxFlex="80%">
                    <div fxLayout="row">
                        <div fxFlex="80%" style="margin-top: 30px; text-align: center;">
                            Instructions
                        </div>
                        <div fxFlex="20%" style="margin-top: 20px;">
                            <ion-button color="warning" (click)="goToMain()"><ion-icon name="home"></ion-icon> </ion-button>
                        </div>
                    </div>
                </div>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #span>
    <ion-slides pager (ionSlideDidChange)="slideChanged()">
        <ion-slide>
            <img src="assets/images/instruction/1.jpg" height="100%">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/instruction/2.jpg" height="100%">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/instruction/3.jpg" height="100%">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/instruction/4.jpg" height="100%">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/instruction/5.jpg" height="100%">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/instruction/6.jpg" height="100%">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/instruction/7.jpg" height="100%">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/instruction/8.jpg" height="100%">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/instruction/9.jpg" height="100%">
        </ion-slide>
    </ion-slides>
    <b><a style="color: #233e7f; font-size: 12px;" (click)="skipPage()" id="skip">{{ skipMsg }}</a></b>
</ion-content>
