<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sinhala">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Sin</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="english">
      <ion-icon name="apps"></ion-icon>
      <ion-label>En</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="apps"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
