<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
<!--      <ion-icon name="home"></ion-icon>-->
        <img src="assets/icon/home.png" width="25" height="25">
      <ion-label style="font-weight: bold">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sinhala">
<!--      <ion-icon name="apps"></ion-icon>-->
      <img src="assets/icon/sin.png_225" width="25" height="25">
      <ion-label style="font-weight: bold">සිං</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="english">
<!--      <ion-icon name="apps"></ion-icon>-->
      <img src="assets/icon/en.png" width="25" height="25">
      <ion-label style="font-weight: bold">Eng</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
<!--      <ion-icon name="apps"></ion-icon>-->
        <img src="assets/icon/about.png" width="25" height="25">
      <ion-label style="font-weight: bold">About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
