<ion-header>
  <ion-toolbar>
    <ion-title>
      <div fxLayout="row">
        <div fxFlex="20%">
          <img src="assets/images/logo2.png" width="80">
        </div>

        <div fxFlex="80%">
          <div fxLayout="row">
            <div fxFlex="80%" style="margin-top: 30px; text-align: center;">
              <span *ngIf="isHome">Sinhala Songs</span>
              <span *ngIf="!isHome && isArtistPage">Artists</span>
              <span *ngIf="!isHome && !isArtistPage" style="font-size: 18px;">{{selectedArtist}}</span>
            </div>
            <div fxFlex="20%" style="margin-top: 20px;">
              <ion-button *ngIf="isHome" color="warning" (click)="goToMain()"><ion-icon name="home"></ion-icon> </ion-button>
              <ion-button *ngIf="!isHome && isArtistPage" color="danger" (click)="backToHome()"><ion-icon name="arrow-back"></ion-icon> </ion-button>
              <ion-button *ngIf="!isHome && !isArtistPage" color="danger" (click)="backToArtistPage()"><ion-icon name="arrow-back"></ion-icon> </ion-button>
            </div>
          </div>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="isHome">
    <ion-row>
      <ion-img src="assets/images/sinhala-geetha.jpg"></ion-img>
      <ion-col col-md-6>
        <button mat-stroked-button color="primary" style="width: 100%; margin-bottom: 10px;" (click)="goToArtist()">
          <img src="assets/images/icons/1.png" width="50" height="50"><br/><b>Artists</b></button>
      </ion-col>

      <ion-col col-md-6>
        <button mat-stroked-button color="primary" style="width: 100%; margin-bottom: 10px;">
          <img src="assets/images/icons/album.png" width="50" height="50"><br/><b>Albums</b></button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-md-6>
        <button mat-stroked-button color="primary" style="width: 100%; margin-bottom: 10px;" (click)="goToLatest()">
          <img src="assets/images/icons/latest.png" width="50" height="50"><br/><b>Latest</b></button>
      </ion-col>

      <ion-col col-md-6>
        <button mat-stroked-button color="primary" style="width: 100%; margin-bottom: 10px;" (click)="goToSearch()">
          <img src="assets/images/icons/search.png" width="50" height="50"><br/><b>Search</b></button>
      </ion-col>
    </ion-row>

  </div>

  <div *ngIf="!isHome && isArtistPage">

    <div class="autocomplete">
      <ion-searchbar
              [(ngModel)]="searchTextArtist"
              (ionFocus)="addFocusArtist()"
              (keyup)="searchArtist()"
              (ionBlur)="removeFocusArtist()"
              debounce=500>
      </ion-searchbar>
      <ion-list>
        <ion-item class="artist-list" *ngFor="let artist of filteredArtists | async" (click)="gotoChordList(artist)">
          {{artist.name}}
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div *ngIf="!isHome && !isArtistPage">
    <ion-searchbar
            [(ngModel)]="searchTextChord"
            (ionFocus)="addFocusChord()"
            (keyup)="searchChord()"
            (ionBlur)="removeFocusChord()"
            debounce=500>
    </ion-searchbar>
    <ion-list>
      <ion-item class="artist-list" *ngFor="let chord of filteredChords | async" (click)="loadChords(chord)">
        {{chord.song}}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
