<ion-toolbar>
  <ion-title>
    <div fxLayout="row">
      <div fxFlex="20%">
        <img src="assets/images/logo2.png" width="80">
      </div>

      <div fxFlex="80%">
        <div fxLayout="row">
          <div fxFlex="80%" class="preview-title">
            {{name}}
          </div>
          <div fxFlex="20%" style="margin-top: 20px;">
            <ion-button color="danger" (click)="goBack()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </div>
  </ion-title>
</ion-toolbar>

<ion-slides [options]="slideOpts">
  <ion-slide>
      <img [src]="ver1">
  </ion-slide>
  <ion-slide>
    <img [src]="ver2">
  </ion-slide>
  <ion-slide>
    <img [src]="ver3">
  </ion-slide>
</ion-slides>
<span style="text-align: center;">Swipe to View different patterns</span>
<img style="text-align: center;horiz-align: center;" src="assets/icon/swipe.gif" (click)="onAd()">
<!--<ion-avatar></ion-avatar>-->
