.preview-title {
  color: #223d7e;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.preview-var {
  color: #000000;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

