<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/images/guitar.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Guitar Chords</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This is a guitar chords application for view songs chords with the facility of transpose</p>
      </ion-card-content>
    </ion-card>
</ion-content>
