<ion-header>
    <ion-toolbar>
        <ion-title>
            <div fxLayout="row">
                <div fxFlex="10%">
                    <ion-buttons slot="start" style="margin-top: 15px;">
                        <ion-menu-button></ion-menu-button>
                    </ion-buttons>
                </div>
                <div fxFlex="20%">
                    <img #logo src="assets/images/logo2.png" width="80">
                </div>
                <div fxFlex="70%">
                    <div fxLayout="row">
                        <div fxFlex="80%" style="margin-top: 30px; text-align: center;">
                            ChordsMe
                        </div>
                        <div fxFlex="20%"></div>
                    </div>
                </div>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-slides pager="true" [options]="slideOpts">
            <ion-slide>
                <img src="assets/images/slides/slide1.jpg" alt=""/>
            </ion-slide>
            <ion-slide>
                <img src="assets/images/slides/slide9.jpg" alt=""/>
            </ion-slide>
            <ion-slide>
                <img src="assets/images/slides/slide3.jfif" alt=""/>
            </ion-slide>
            <ion-slide>
                <img src="assets/images/slides/slide7.jpg" alt=""/>
            </ion-slide>
        </ion-slides>
        <ion-card-header style="text-align: center; horiz-align: center; vertical-align: middle;">
            <ion-card-subtitle>Get Started</ion-card-subtitle>
            <ion-card-title>Welcome to ChordsMe</ion-card-title>
        </ion-card-header>
        <ion-card-content style="text-align: center; horiz-align: center; vertical-align: middle;">
            <p>This is a guitar chords application for view chord lessons and song chords with different categories & features like Transpose</p>
        </ion-card-content>
    </ion-card>
    <img (click)="onAdMob()" #img src="assets/images/logo2.png" class="img">
    <ion-infinite-scroll scrollX="true" scrollY="true">
    </ion-infinite-scroll>
</ion-content>
